<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Offcanvas navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>

    <header>
        <nav class="navbar-my navbar d-flex ">
            <div class="container-fluid container-lg">

                <a href="#" class="navbar-brand">Offcanvas</a>
                
                <div class="nav-list-container" id="offcanvas">
                    <button class="btn btn-primary" id="close-navbar"> X </button>

                    <ul class="nav-list me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a href="#" class="nav-link">Home</a>
                        </li>

                        <li class="nav-item">
                            <a href="#about" class="nav-link">About</a>
                        </li>

                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contact</a>
                        </li>
                    </ul>


                </div>

                <button id="show-navbar" class="btn btn-primary">Op</button>
            </div>
        </nav>
    </header>

<section class="about" id="about">
    <h1>About</h1>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis maiores, corporis obcaecati itaque aliquid tempore numquam id quidem labore in vel vitae neque vero? Perferendis tempore quis illo similique, error hic molestiae enim non placeat amet consequatur fuga reprehenderit, nemo repudiandae laborum qui aliquam ex? Voluptatem, incidunt quisquam? Aspernatur voluptas mollitia eligendi alias repudiandae eius assumenda illum officiis corrupti molestiae doloribus nostrum velit laboriosam vero tempora, consectetur exercitationem placeat fuga facere? Sed praesentium hic eaque, nam minus iure a nobis facilis tempora, molestiae, nihil molestias. Et, quidem adipisci aut, ea nulla harum saepe labore libero architecto commodi qui, nam eveniet? Earum quae ullam nisi. Ullam fugiat deleniti officiis quaerat praesentium eos earum, laborum minus alias, iure odio sit quisquam vero aspernatur animi nesciunt sapiente? Eum atque possimus assumenda a iusto aut culpa tempora in repudiandae dicta. Reprehenderit praesentium deserunt, dolores velit laborum officia eius autem impedit animi vel, odit accusantium voluptas explicabo. Non modi eum incidunt saepe deleniti vel veritatis deserunt distinctio iste, fugiat aperiam ipsam iusto aspernatur totam doloremque amet, provident laudantium odio. Maxime modi quisquam omnis dolorem facere laudantium necessitatibus odit hic pariatur asperiores velit ratione consequatur voluptates est nulla temporibus rem aliquid rerum eaque ipsum, iste at.
</section>
    
<section class="contact" id="contact">
    <h1>contact</h1>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, natus. Iusto, eveniet quia sint minus libero quos. Ut eligendi, pariatur repellendus molestias repudiandae maxime ratione? Maxime repellendus exercitationem dignissimos suscipit expedita praesentium inventore, officia eveniet obcaecati sapiente perspiciatis ea provident nihil facilis saepe rerum vel earum id ullam nam, molestiae fugit soluta quos consectetur. Totam iure quasi ipsa enim neque harum aliquam dolores alias distinctio amet architecto possimus doloremque esse, velit repellendus excepturi sunt! Odit facere iure, molestiae ullam reprehenderit cupiditate aliquid ipsa quis ad repellendus, laborum exercitationem sed atque, ea dolore laboriosam. Dolorum beatae modi maiores earum dignissimos ratione, a odio aliquam facilis pariatur numquam sequi nulla est corporis rerum deserunt! Hic quis non et ipsa, accusamus, reprehenderit saepe eos sunt dignissimos assumenda dolor? Error deleniti iste cum totam numquam perspiciatis quis animi maiores asperiores tempore minus, exercitationem suscipit amet ab facere nam corporis commodi molestias laboriosam libero ipsam doloribus quod ex! Voluptatum unde itaque dolor at nesciunt delectus, sed hic, veniam porro ea aut ullam qui voluptates maiores. Recusandae numquam tempore eum dolores labore quo soluta velit corrupti consequatur magnam voluptatibus maxime minus eligendi eveniet sint commodi veniam, culpa voluptate quam accusantium voluptatum accusamus. Placeat cumque delectus aperiam incidunt mollitia recusandae earum nihil laborum iusto ipsum. Officia nobis ut nemo, obcaecati tempora, quo aliquid dolorem repudiandae iure ex suscipit eveniet! Maxime minima corrupti, magnam eum quaerat ad accusamus ab quia autem. Minima veniam facilis suscipit. Distinctio quae est illo eligendi ex aspernatur dignissimos dicta, iure voluptas ducimus quibusdam accusantium totam tempore laboriosam voluptates exercitationem omnis error consequatur quisquam sed. Amet corporis esse optio similique eum pariatur eveniet perspiciatis exercitationem molestias facilis, aut praesentium ad culpa minima voluptatem, quasi ex obcaecati magnam accusantium temporibus consequatur quibusdam ab nulla labore? Illo alias vitae non quos, cum quidem odio laudantium quis? Voluptate incidunt esse magnam, saepe placeat commodi beatae nesciunt necessitatibus possimus fugiat veniam neque, doloremque voluptatem consectetur aperiam. Autem ipsam quaerat iure officiis recusandae temporibus adipisci impedit? Est animi, qui quasi hic delectus quo quis eius totam id iusto aperiam porro quia, dolorum vero tenetur, aut fuga? Ea dicta laborum pariatur fuga cum, repellat doloribus dignissimos illo doloremque aperiam adipisci voluptas sit? Veritatis doloribus, porro voluptates ex quaerat blanditiis molestias pariatur vero neque quasi numquam nam vitae assumenda! Impedit rem quasi ab cumque, necessitatibus commodi ipsa esse sint, reprehenderit atque, sunt quis! Id omnis, officiis quasi commodi repudiandae aspernatur pariatur error ex autem, natus doloribus perspiciatis, culpa quidem obcaecati harum! Eveniet illum magni quibusdam perferendis vitae nisi ab iusto, temporibus a quo asperiores enim! Perspiciatis autem est in magni suscipit tempora ut atque molestiae exercitationem nam rerum facere reprehenderit quibusdam quia tenetur natus corporis, distinctio, sunt deserunt, accusamus dolores vitae quos! Maxime aut vitae eius ratione veniam esse dolores rem iste. Dolor saepe laborum, dolorum ex tempora atque incidunt velit magnam. Dicta mollitia harum non ea iure, error impedit placeat nesciunt magnam quae quos ab dignissimos ipsam rerum doloremque voluptas libero obcaecati eum atque! Omnis ipsum quidem quae amet maiores?
</section>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="static/script.js"></script>
  </body>
</html>